* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #000000;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
}

.calculator-content {
    width: 37.5em;
    height:37.5em ;
    background-color: #D9D9D9;
   
}

.calculator-screen {
    width: 31.25em;
    height: 6.25em;
    background-color: #000000;
    margin-right: 3.125em;
    margin-left: 3.125em;
    margin-top: 1.625em ;
}

.calculator-buttons {
    display: grid;
    grid-template-columns: 5em 5em 5em 5em 5em;
    grid-template-rows: 5em 5em 5em 5em;
    gap: 1.563em;
    margin-top: 1.688em ;
    margin-right: 3.125em;
    margin-left: 3.125em;
}

.calculator-buttons > * {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
p, i {
    color: #FFFFFF;
    font-size: 23px;
    font-weight: 400;
}
.red {
    background-color: #FF0000;
}

.blue {
    background-color: #1800F3;
}
.last {
    grid-column: -4/-1;
    border-radius: 1.25em;
}


.flex-show{
    display: flex;
}

.operation {
    margin-left: 5px;
}

.operation, .showAnswer {
    opacity: 0.8;
}

.show{
    font-size: 2rem;
}